
#endif
#if !defined(___CRT_DEVICE_FUNCTIONS_H___)
#define ___CRT_DEVICE_FUNCTIONS_H___
#ifdef __CUDACC__
extern "C" { 
#ifdef __CUDA_ARCH__
static
#endif
 __host__ __device__ unsigned CUDARTAPI __cudaPushCallConfiguration(dim3 gridDim, dim3 blockDim, size_t sharedMem = 0, void *stream = 0)
#ifdef __CUDA_ARCH__
{__assert(); return 0;}
#endif
;
} 
#endif  /* __CUDACC__ */
#endif