#ifdef __CUDACC__
#include "cuda_fp16.h"
#if __CUDACC_VER_MAJOR__ > 10
#include "cuda_bf16.h"
typedef __nv_bfloat16 __ppu_bfloat16;    
typedef __nv_bfloat162 __ppu_bfloat162;
#else
#define __BF16_NOT_DEFINED__
#endif
#include "hggc_mma.h"
namespace nvcuda {
namespace wmma {
  using namespace awmma;
}
}
#endif